@use "../index" as *;
@use "./custom-select";

.school-reviews {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 19px;
  row-gap: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  &__head {
    & h1 {
      grid-column: span 2;
      font-size: 36px;
      font-family: "Lisboa-Heavy-Regular", sans-serif;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
  &__bag {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 1 1 0;
  }
  &__sort {
    flex: 1 1 0;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $color-text1;
    & p {
      font-weight: 400;
      color: $color-text_review;
    }
  }
  &__leave {
    flex: 1 1 0;
    text-align: end;
    align-self: flex-end;
  }
  &__about {
    display: flex;
    flex-direction: column;
    & div p {
      font-family: "FS-Elliot-Pro-Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__toform {
    margin-top: 7px;
    color: $color-accent;
    cursor: pointer;
  }
  &__link {
    display: block;
    text-align: center;
    padding: 11px;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: $color-accent;
    color: $color-text3;
    width: 191px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      border: 1px solid $color-accent;
      background-color: transparent;
      color: $color-accent;
    }
  }
  &__footer {
    grid-column: 2;
    display: flex;
    margin-top: 20px;
  }
  &__body {
    &__box {
      grid-column: span 2;
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
  }
  &__sidebar {
    display: block;
  }
  &__btn {
    align-items: end;
  }
}

.school-rating {
  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
  }
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 90px;
}
