@use "../index" as *;

.school-reviews {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 19px;
  row-gap: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  &__head {
    & h1 {
      grid-column: span 2;
      font-size: 36px;
      font-family: "Lisboa-Heavy-Regular", sans-serif;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
  &__bug {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 2 1 0;
  }
  &__sort {
    flex: 3 1 0;
    align-self: flex-end;
  }
  &__leave {
    flex: 3 1 0;
    text-align: end;
    align-self: flex-end;
  }
  &__about {
    display: flex;
    flex-direction: column;
    & div p {
      font-family: "FS-Elliot-Pro-Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__link {
    margin-top: 7px;
    color: $color-accent;
    cursor: pointer;
  }
  &__btn {
    text-align: center;
    padding: 14px;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: $color-accent;
    color: $color-text3;
    max-width: 191px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      border: 1px solid $color-accent;
      background-color: transparent;
      color: $color-accent;
    }
  }
  &__footer {
    grid-column: 2;
    display: flex;
  }
  &__body {
    &__box {
      grid-column: span 2;
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
  }
}

.school-rating {
  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
  }
}

.review-rating {
  &__stars {
    display: flex;
    gap: 5px;
    & picture {
      width: 14px;
      height: 14px;
    }
  }
}
