@font-face {
    font-family: 'FS-Elliot-Pro-Bold';
    src: url('../fonts/FS-Elliot-Pro-Bold.woff2') format('woff2'),
         url('../fonts/FS-Elliot-Pro-Bold.woff') format('woff'),
         url('../fonts/FS-Elliot-Pro-Bold.ttf') format('truetype');

         font-weight: 700;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'FS-Elliot-Pro-Regular';
    src: url('../fonts/FS-Elliot-Pro-Regular.woff2') format('woff2'),
         url('../fonts/FS-Elliot-Pro-Regular.woff') format('woff'),
         url('../fonts/FS-Elliot-Pro-Regular.ttf') format('truetype');

         font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Lisboa-Heavy-Regular';
    src: url('../fonts/Lisboa-Heavy-Regular.woff2') format('woff2'),
         url('../fonts/Lisboa-Heavy-Regular.woff') format('woff'),
         url('../fonts/Lisboa-Heavy-Regular.ttf') format('truetype');

         font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Lisboa-Pro-Bold';
    src: url('../fonts/Lisboa-Pro-Bold.woff2') format('woff2'),
         url('../fonts/Lisboa-Pro-Bold.woff') format('woff'),
         url('../fonts/Lisboa-Pro-Bold.ttf') format('truetype');

         font-weight: 700;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'FS-Elliot-Pro-Heavy';
    src: url('../fonts/FS-Elliot-Pro-Heavy.woff2') format('woff2'),
         url('../fonts/FS-Elliot-Pro-Heavy.woff') format('woff'),
         url('../fonts/FS-Elliot-Pro-Heavy.ttf') format('truetype');

         font-weight: 900  ;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Faber-Sans-Pro-75-Halbfett';
    src: url('../fonts/Faber-Sans-Pro-75-Halbfett.woff2') format('woff2'),
         url('../fonts/Faber-Sans-Pro-75-Halbfett.woff') format('woff'),
         url('../fonts/Faber-Sans-Pro-75-Halbfett.ttf') format('truetype');

         font-weight: 600; // 750;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Jost-Regular';
    src: url('../fonts/Jost-Regular.woff2') format('woff2'),
         url('../fonts/Jost-Regular.woff') format('woff'),
         url('../fonts/Jost-Regular.ttf') format('truetype');

         font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Faber-Sans-Pro-65-Kraeftig';
    src: url('../fonts/Faber-Sans-Pro-65-Kraeftig.woff2') format('woff2'),
         url('../fonts/Faber-Sans-Pro-65-Kraeftig.woff') format('woff'),
         url('../fonts/Faber-Sans-Pro-65-Kraeftig.ttf') format('truetype');

         font-weight: 400; //650;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype');

         font-weight: 700;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'FS-Elliot-Pro-Light';
    src: url('../fonts/FS-Elliot-Pro-Light.woff2') format('woff2'),
         url('../fonts/FS-Elliot-Pro-Light.woff') format('woff'),
         url('../fonts/FS-Elliot-Pro-Light.ttf') format('truetype');

         font-weight: 300;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype');

         font-weight: 400;
        font-style: normal;
        font-display: swap;
}