$color-bg1: #fff;
$color-text1: #2b2b2b;
$color-text1_2: #7e7e7e;
$color-text1_3: rgb(237, 237, 237);
$color-bg2: #f8f8f8;
$color-text2: #2b2b2b;
$color-text2_2: #a6a6a6;
$color-bg3: #000;
$color-text3: #fff;
$color-text3_2: #a6a6a6;

$color-star: #d3def8;
$color-star_active: #ffb800;

$color-bg_review: #f7f7ff;
$color-text_review: #8c8c8c;

$color-accent: #01e45c;
$color-accent-inner: #fff;

$color-bg4: rgb(240, 243, 252);
$color-text4: #2b2b2b;
$color-text4_2: #8c8c8c;

$color-bg_reviews-score: #e7eafc;
$color-bg_reviews-score_fill: #ccd2f2;

$border: 1px solid $color-text1_3;
