$color-bg1: #fff;
$color-text1: #2b2b2b;
$color-text1_2: #7e7e7e;
$color-text1_3: rgb(237, 237, 237);
$color-bg2: #f8f8f8;
$color-text2: #2b2b2b;
$color-bg3: #000;
$color-text3: #fff;
$color-text3_2: #a6a6a6;

$color-accent: #01e45c;
$color-accent-inner: #fff;

$border: 1px solid $color-text1_3;
