@use "../index" as *;

.schools {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 19px;
  row-gap: 30px;
  &__head {
    margin-bottom: 0px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__aside {
    position: relative;
  }
  &__footer {
    grid-column: 2;
    display: flex;
  }
}

.school-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  min-height: 134px;
  border: $border;
  border-radius: 5px;
  box-shadow: 0px 9px 15px 0px rgba(226, 226, 226, 0.25);
  transition: 0.3s linear;
  &__body {
    display: grid;
    grid-template-columns: 250px 400px;
    align-items: center;
    gap: 5px;
  }
  &:hover {
    scale: 1.03;
    box-shadow: 0px 9px 15px 0px rgba(226, 226, 226, 1.25);
  }
}

.school-title {
  grid-column: span 2;
  font-size: 18px;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
  font-weight: 700;
  line-height: 27px;
  transition: 0.3s;
  &:hover {
    color: $color-accent;
  }
}

.link-btn {
  padding: 12px 34px;
  background-color: $color-accent;
  color: $color-text3;
  border-radius: 100px;
  border: 1px solid transparent;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
  line-height: 24px;
  &:hover {
    color: $color-accent;
    background-color: $color-text3;
    border: 1px solid $color-accent;
  }
}

.school-name {
  font-size: 18px;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
}

.school-desc {
  font-family: "FS-Elliot-Pro-Regular", sans-serif;
  font-size: 12px;
  line-height: 27px;
}

.school-reviewcount {
  font-size: 12px;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
  color: $color-accent;
  &_detail {
    font-size: 14px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
    color: $color-text1;
  }
}

.school-themes {
  display: flex;
  gap: 6px;
  & span {
    text-align: center;
    font-size: 12px;
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
    font-weight: 400;
    color: $color-bg3;
    padding: 4px 8px;
    background-color: $color-bg4;
    border-radius: 50px;
  }
}

.category-filter {
  position: sticky;
  top: 83px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 21px;
  border: $border;
  border-radius: 5px;
  &__title {
    font-size: 18px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.category-item {
  & label {
    display: flex;
    align-items: center;
  }
}

.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 12px;
  border: 1px solid $color-text3_2;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  &_detail {
    margin-right: 0px;
  }
}

.custom-checkbox:checked {
  background-color: $color-accent;
  border: transparent;
}

.custom-checkbox:checked::after {
  content: "✔"; /* Галочка */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}
