@use "../index" as *;

.course {
	padding-bottom: 30px;
	& .title {
		color: $color-text2;
	}
}
.course__header {
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: $color-bg2;

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.course__updated-at {
	color: $color-text2_2;
	font-family: "FS-Elliot-Pro-Regular", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.course__content {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.course__block {
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.course__title {
	font-family: "Lisboa-Heavy-Regular", sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 36px;
}
