@use "../index" as *;

.feedback-form {
  grid-column: 2;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__title {
    font-family: "Lisboa-Heavy-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
  }
  &__desc {
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  & form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    & input {
      width: 100%;
      padding: 17px 24px;
      border-radius: 5px;
      border: $border;
      font-family: "FS-Elliot-Pro-Regular", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
    & textarea {
      width: 100%;
      padding: 17px 24px;
      border-radius: 5px;
      border: $border;
      min-height: 230px;
      font-family: "FS-Elliot-Pro-Regular", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
  }
}

.form-button {
  max-width: 200px;
  align-self: end;
  padding: 13px 47px;
  border-radius: 100px;
  background-color: $color-accent;
  color: $color-text3;
  border: 1px solid transparent;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  &:hover {
    border: 1px solid $color-accent;
    background-color: transparent;
    color: $color-accent;
  }
}
