@use "../index" as *;

.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  &__head {
    & h1 {
      font-size: 36px;
      font-family: "Lisboa-Heavy-Regular", sans-serif;
    }
  }
  &__desc {
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $color-text1;
  }
  &__box {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__sort {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $color-text1;
    margin-right: 20px;
    & p {
      font-weight: 400;
      color: $color-text_review;
    }
  }
  &__footer {
    grid-column: 2;
    display: flex;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__lastmod {
    font-family: "FS-Elliot-Pro-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $color-text4_2;
  }
}

.lastmod-value {
  color: $color-bg3;
}

@media (max-width: 540px) {
  .reviews__box {
    margin-top: 10px;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .review-text__detail {
    white-space: nowrap;
  }
  .review-autor {
    text-align: end;
  }
}
