@use "../index" as *;

.review {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px 42px 40px;
	border-radius: 5px;
	border: $border;
	position: relative;
	transition: max-height 2.5s ease;

	&.expanded {
		.review__text {
			max-height: none; /* Убираем ограничение по высоте при разворачивании */
		}
	}

	&_excelent {
		background-color: $color-bg4;
		color: $color-text4;
		border-color: $color-bg4;
	}
}

.review__text {
	max-height: 244px;
	position: relative;
	overflow: hidden; /* Скрываем содержимое, которое выходит за пределы */
}

.review__details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.review__user {
	color: $color-text4_2;
	font-size: 14px;
	line-height: 17px;
}

.expand-button {
	align-self: self-start;
	position: absolute;
	bottom: 10px;
	left: 0;
	position: relative;

	color: $color-accent;
	font-family: "FS-Elliot-Pro-Bold", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;

	cursor: pointer;

	&::after {
		content: "";
		width: 0;
		height: 2px;
		background-color: $color-accent;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: 0.3s;
	}
	&:hover::after {
		width: 100%;
	}
}
