@use "../index" as *;

.home-section__title {
	text-align: center;
	font-family: "Lisboa-Heavy-Regular", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 39px;
}

.home-category-list {
	display: flex;
	gap: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	margin-bottom: -5px;
	align-items: center;
	overflow-x: auto;

	.items-dropdown {
		align-self: center;
	}

	&:active {
		cursor: grabbing;
	}
}

.home-category-item {
	font-size: 14px;
	line-height: 36px;
	padding: 5px 11px;

	border-radius: 50px;

	transition: 0.2s;
	white-space: nowrap;
	cursor: pointer;

	&:hover,
	&:focus,
	&.checked {
		background-color: $color-accent;
		color: $color-accent-inner;
	}
}

/* ============================= */
/* Media */

@media (max-width: 600px) {
	.home-section__title {
		font-size: 22px;
		line-height: 29px;
	}
}
