@use "../index" as *;

.popular-courses{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 62px;
    padding-bottom:  72px;
    position: relative;
    max-width: 1440px;
margin: 0 auto;
	width: 100%;
}

.popular-courses__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

//catgories

    .popular-courses__show-more-btn{
        margin-top: 15px;
        align-self: center;
        padding: 13px 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 24px;
        border-radius: 100px;
        cursor: pointer;

        background-color: $color-bg1;
        color: $color-text1_2;
        border: 1px solid $color-text1_2;

        transition: 0.3s;
        outline: none;

        &:hover,
        &:focus {
          background-color: $color-accent;
          color: $color-accent-inner;
          border: 1px solid $color-accent;
        }
      }


