@use "../index" as *;

.categories-filter {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: $border;
  border-top: $border;
  margin-top: 30px;

  &__inner {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;
  }
}

.categories-filter__link {
  font-size: 14px;
  line-height: 14px;
  padding: 11px;
white-space: nowrap;
  border-radius: 20px;

  transition: 0.2s;
  cursor: pointer;

  &:hover,
  &:focus,
  &.checked {
    background-color: $color-accent;
    color: $color-accent-inner;
  }
}

/* ============================= */
/* Media */

@media (max-width: 1024px) {

.categories-filter {
  padding-top: 22px;
  padding-bottom: 17px;}
}