@use "../index" as *;

.courses-main {
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: 20px;
	padding-top: 43px;
	position: relative;
}

.courses-sidebar {
	display: flex;
	position: sticky;
	flex-direction: column;
	gap: 20px;
	align-self: start;
	top: calc(var(--header-height-px) + 20px);
	background-color: $color-bg1;
}

.request-result-count {
	color: $color-accent;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

/* ============================= */
/* Courses list */

.courses-content {
	display: flex;
	flex-direction: column;
	margin-bottom: 78px;

	& .pagination {
		margin-top: 43px;
	}
}

.courses__titles {
	margin-bottom: 20px;
	padding-top: 5px;
	justify-items: center;

	font-size: 12px;
	line-height: 15px;
	color: $color-text1_2;
}

.courses__titles__item {
	display: flex;
	gap: 5px;
	align-items: center;

	cursor: pointer;
}

.courses-subcategory {
	margin-bottom: 20px;

	color: $color-text1;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.courses-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: end;
	justify-items: center;
	padding-left: 23px;
	padding-right: 23px;
}

.courses-list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	list-style: none;
}

.courses__show-filter-button {
	display: none;
	align-items: center;
	gap: 16px;
	padding: 11px 26px;

	color: inherit;
	background-color: inherit;
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	outline: none;

	border: $border;
	border-radius: 100px;

	transition: 0.3s;

	&:hover,
	&:focus {
		border-color: $color-accent;
		color: $color-accent;

		& svg {
			fill: $color-accent;
		}
	}

	& svg {
		width: 20px;
		height: 20px;
		fill: $color-text1_2;
		transition: 0.3s;
	}
}

/* ============================= */
/* Media */

@media (max-width: 1024px) {
	.courses-main {
		display: flex;
		flex-direction: column;
		gap: 22px;
		padding-top: 0;
	}

	.courses-sidebar {
		flex-direction: row;
		z-index: 1001;
		align-self: stretch;
		align-items: center;
		position: static;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 0;
	}

	.courses__show-filter-button {
		display: flex;
	}
}
