@use "../index" as *;

.courses__schools {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.courses__schools__title {
	font-size: 24px;
	line-height: 29px;
}

.courses__schools__list {
	list-style: none;

	column-count: 4;
	column-gap: 69px;
}
