@use "../index" as *;

/* ============================= */
/* Filter block */

.courses-filter {
	border: $border;
	border-radius: 5px;
	background-color: $color-bg1;
	overflow: hidden;
}

.courses-filter__header {
	padding: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: $border;

	font-size: 18px;
	line-height: 22px;
}

.courses-filter__content {
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	overflow-y: auto;
	overflow-x: hidden;

}

.courses-filter__block {
	display: flex;
	flex-direction: column;
}

.courses-filter__reset-btn {
	display: flex;
	padding: 2px 4px;

	& svg {
		width: 19px;
		fill: $color-text1_2;
		transition: 0.3s;
	}

	&:hover,
	&:focus {
		& svg {
			fill: $color-accent;
		}
	}
}

.courses-filter__button {
	position: absolute;
	top: 0;
	left: 100%;
	transition: 0.3s;
	padding: 20px;

	border-radius: 10px;
	background-color: $color-accent;

	color: $color-accent-inner;
	font-family: "FS-Elliot-Pro-Bold", sans-serif;
	font-weight: 700;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -7px;
		width: 20px;
		height: 20px;
		background-color: $color-accent;
		border-radius: 5px;

		transform: translateY(-50%) rotate(45deg);
		outline: none;
		z-index: 2;
		opacity: 1;
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1);
	}

	&_hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.courses-filter-wrapper__close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px;
	display: none;

	border-radius: 5px;

	transition: 0.3s;

	&:hover {
		background-color: $color-accent;

		.cross {
			fill: $color-accent-inner;
		}
	}

	.cross {
		width: 14px;
		height: 14px;
		fill: $color-text1;
		transition: 0.3s;
	}
}

/* ============================= */
/* Media */

@media (max-width: 1024px) {
	.courses-filter-wrapper {
		position: fixed;
        z-index: 1002;
		top: 0;
		left: 100%;
		width: 100%;
		padding: 20px;
		height: 100vh;
		background-color: rgba($color: $color-bg1, $alpha: 0.93);
		opacity: 0;
		transition: 0.5s;
	}

	.courses-filter-wrapper__close-button {
		display: flex;
		
	}

	.courses-filter__header {
		padding: 15px 40px 15px 20px
	}

	.courses-filter {
		height: 100%;
		margin: 0 auto;
		max-width: 500px;
	}

		.courses-filter__button {
		position: absolute;
		left: auto;
		padding: 10px 20px;

		font-family: inherit;
		transition: 0s;

		&::before {
			display: none;
		}

	}
}

