@use "../index" as *;

/* ============================= */
/* Schools filter */

.schools-filter {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 15px;

	font-family: "FS-lliot-Pro-Regular", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	transition: max-height 3s linear;
}

.show-schools-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 11px;

	box-shadow: 0 -8px 21px 15px $color-bg1;
	font-size: 14px;
	line-height: 14px;
	border-radius: 20px;
	font-family: inherit;
	transition: 0.2s;
	cursor: pointer;
	color: $color-accent;
	border: 1px solid $color-accent;

	&:hover {
		color: $color-accent-inner;
		background-color: $color-accent;
	}
}

.schools-filter__lbl {
	display: grid;
	grid-template-columns: 1fr 15px;
	position: relative;

	&_gray{
		color: $color-text1_2;
	}
}

.schools-filter__checkbox {
		position: absolute;
	visibility: hidden;
	pointer-events: none;


}

.schools-filter__lbl__span {
	position: relative;
	width: 15px;
	height: 15px;
	border: 2px solid $color-text1_3;
	cursor: pointer;
	transition: 0.3s;

	&::after {
		content: "✔";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0px;
		height: 0px;
		opacity: 0;
		background-color: $color-accent;

		font-size: 12px;
		color: $color-accent-inner;

		transition: 0.3s;
	}

	&.checked {
		border-color: $color-accent;
		background-color: $color-accent;

		&::after {
			width: 100%;
			opacity: 1;
			height: 100%;
		}
	}
}
