@use "../index" as *;
#price-filter__slider {
& .slider-container {
    width: 100%;
    position: relative;
    margin: 20px 0;
  }

  /* Стили для контейнера rc-slider */
  & .rc-slider {
    position: relative;
    height:2px;
    width: 100%;
    margin: 20px 0;
  }

  & .rc-slider-step{
    height: 2px;
  }

  /* Стили для трека (активной части слайдера) */
 & .rc-slider-track {
    background-color: $color-accent ; /* Зеленая полоса */
    height: 2px;
  }

  /* Стили для фона (неактивной части слайдера) */
 & .rc-slider-rail {
    background-color: $color-text1_3; /* Серая полоса */
    height: 2px;
  }

  /* Стили для ползунков (ручек слайдера) */
  & .rc-slider-handle {
    width: 14px;
    height: 14px;
    background-color: $color-accent; /* Зеленый ползунок */
    border: 2px solid $color-accent;
    border-radius: 0; /* Круглый ползунок */
    cursor: pointer;
    transition: scale .3s linear;
    outline: none;
    cursor: grab;
    margin-top: -6px;
padding: 5px;

    &:active,
    &:focus-visible{
      box-shadow: 0 0 5px $color-accent;
    }
  }

  /* Стили для ползунков при наведении */
 & .rc-slider-handle:hover {
    scale: 1.05;
  }
}

  /* Стили для контейнера с инпутами */
  .slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  /* Стили для инпутов */
  .slider-labels input {
    min-width: 90px;
    text-align: center;
    border: $border;
    border-radius: 0px;
    padding: 5px 11px;

    font-size: 12px;
    font-family: 'FS-Elliot-Pro-Regular',sans-serif;
font-weight: 400;
line-height: 15px;
  }

  /* Стили для инпутов при фокусе */
  .slider-labels input:focus {
    outline: none;
    border-color: $color-accent;
  }