@use "../index" as *;
@use "../mixins" as *;


.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
padding-top: 50px;
padding-bottom: 50px;

    nav ul{
        list-style: none;
        display: flex;
        gap: 20px;

        flex-wrap: wrap;

        li{ display: flex;
            a{
            @include button-style;
        }}
    }

    .title{
        margin-bottom: 5px;
    }

    .auth__desc{
        text-align: center;
    }
}

