@use "../index" as *;

.courses-list__item {
  display: flex;
  min-height: 146px;
  border: $border;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.course-name {
  flex: 2 1 0;
  &__title {
    grid-column: span 2;
    font-size: 18px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
    margin-bottom: 5px;
  }
}

.course-raiting {
  flex: 1 1 0;
  justify-items: center;
}

.rating-star {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  & svg {
    width: 14px;
    height: 14px;
  }
}

.course-reviewcount {
  font-size: 12px;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
  color: $color-accent;
  line-height: 27px;
}

.course-price {
  flex: 1 1 0;
  justify-items: center;
  &__value {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
  }
}

.course-link {
  flex: 1 1 0;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  .course-link__btn {
    padding: 12px 34px;
    background-color: $color-accent;
    color: $color-text3;
    border-radius: 100px;
    border: 1px solid transparent;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
    &_more {
      color: $color-text1;
      background-color: transparent;
      border: 1px solid $color-bg3;
      transition: color 0.3s ease;
    }
    &:hover {
      color: $color-accent;
      background-color: $color-text3;
      border: 1px solid $color-accent;
    }
  }
}

.subcategoty-name {
  font-family: "FS-Elliot-Pro-Regular", sans-serif;
  font-size: 12px;
  color: $color-text3_2;
  line-height: 27px;
}
