@use "../index" as *;
@use "../schoolDetail/courses-item";

.school-detail {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 19px;
  row-gap: 32px;
  padding: 30px 0px;
  &__head {
    grid-column: span 2;
    & h1 {
      font-size: 36px;
      font-family: "Lisboa-Heavy-Regular", sans-serif;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
  }
  &__aside {
    position: relative;
  }
  &__about {
    display: flex;
    flex-direction: column;
    & div p {
      font-family: "FS-Elliot-Pro-Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__link {
    margin-top: 7px;
    color: $color-accent;
    cursor: pointer;
  }
  &__btn {
    text-align: center;
    padding: 14px 44px;
    border-radius: 100px;
    border: 1px solid $color-text1;
    background-color: $color-bg1;
    min-width: 225px;
    &:hover {
      border: 1px solid transparent;
      background-color: $color-accent;
      & p {
        color: $color-text3;
      }
    }
  }
  &__footer {
    grid-column: 2;
    display: flex;
  }
}

.courses-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__head {
    margin-bottom: 25px;
    & h2 {
      font-size: 18px;
      font-family: "FS-Elliot-Pro-Bold", sans-serif;
      margin-left: 30px;
    }
  }
}

.subcategory-filter {
  position: sticky;
  top: 83px;
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: 5px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $color-text1_3;
    top: 63px;
    left: 0px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    padding: 21px;
    &__title {
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      font-family: "FS-Elliot-Pro-Bold", sans-serif;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 21px 15px 21px 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-accent $color-bg2;
    scroll-behavior: smooth;
  }
  &__reset {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.subcategory-pricefilter {
  display: flex;
  flex-direction: column;
  gap: 25px;
  &__title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
  }
}

.subcategory-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  &__title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
  }
}

.subcategory-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-family: "FS-Elliot-Pro-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.show-all-button {
  padding: 12px 34px;
  background-color: #01e45c;
  color: #fff;
  border-radius: 100px;
  border: 1px solid transparent;
  font-family: "FS-Elliot-Pro-Bold", sans-serif;
  &:hover {
    color: #01e45c;
    background-color: #fff;
    border: 1px solid #01e45c;
  }
}
