@use "../index" as *;
@use "../schoolDetail/courses-item";

.school-detail {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 19px;
  row-gap: 32px;
  padding: 30px 0px;
  &__head {
    grid-column: span 2;
    & h1 {
      font-size: 36px;
      font-family: "Lisboa-Heavy-Regular", sans-serif;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 7px;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 33px;
  }
  &__about {
    display: flex;
    flex-direction: column;
    & div p {
      font-family: "FS-Elliot-Pro-Regular", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__link {
    margin-top: 7px;
    color: $color-accent;
    cursor: pointer;
  }
  &__btn {
    padding: 14px 44px;
    border-radius: 100px;
    border: 1px solid $color-text1;
    background-color: $color-bg1;
    min-width: 225px;
    &:hover {
      border: 1px solid transparent;
      background-color: $color-accent;
      & p {
        color: $color-text3;
      }
    }
  }
  &__footer {
    grid-column: 2;
    display: flex;
  }
}

.courses-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__head {
    margin-bottom: 25px;
    & h2 {
      font-size: 18px;
      font-family: "FS-Elliot-Pro-Bold", sans-serif;
      margin-left: 30px;
    }
  }
}

.subcategory-filter {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 21px;
  border: $border;
  border-radius: 5px;
  &__title {
    font-size: 18px;
    font-family: "FS-Elliot-Pro-Bold", sans-serif;
  }
}

.subcategory-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.subcategory-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-family: "FS-Elliot-Pro-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
